<h1>Movies#index</h1>
<p>Find me in app/views/movies/index.html.erb</p>

<%= form_tag("/movies/search", method: "post") do %>
  <%= label_tag(:title, "Search for:") %>
  <%= text_field_tag(:title) %>
  <%= submit_tag("Search") %>
<% end %>

<div class="container">
  <div class="row">
		<% @movies.each do |movie| %>
			<div class="col-sm-4">
				<%= link_to image_tag("http://image.tmdb.org/t/p/w185/#{movie["poster_path"]}"), movie_path(id: movie["id"]) %>
				<h2><%= link_to movie["title"], movie_path(id: movie["id"]) %></h2>
			</div>
		<% end %>
	</div>
</div>

<% if @movies.count > 1 %>
  <button onclick="goToPrevPage()" id="btn_prev">Prev</button>
  <button onclick="goToNextPage()" id="btn_next">Next</button>
<% end %>

<script type="text/javascript">
  var url = new URL(window.location.href);
  var title = url.searchParams.get("title")

  var goToNextPage = function() {
    var currentPageNumber = parseInt(url.searchParams.get("page")) || 1
    var newUrl = url.origin + url.pathname + "?title=" + title + "&page=" + (currentPageNumber + 1)
    window.location.replace(newUrl)
  }

  var goToPrevPage = function() {
    var currentPageNumber = parseInt(url.searchParams.get("page")) || 1
    if (currentPageNumber <= 1) {
      currentPageNumber = 2 // current page number has to be greater than 0
    }
    var newUrl = url.origin + url.pathname + "?title=" + title + "&page=" + (currentPageNumber - 1)
    window.location.replace(newUrl)
  }
</script>